@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',
        sans-serif;
    box-sizing: border-box;
    outline: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 47, 52, .03);
    padding: 10px 30px;
}

nav .nav__logo {
    width: 40px;
}

h1 {
    margin: 0% auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-weight: 600;
}

.sell_container {
    width: 90%;
    height: auto;
    border: 1px solid #6c6c6c;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 3% auto;
    color: #012f34;
    border-radius: 5px;
    flex-direction: column;
}

.sell__inputs {
    width: 100%;
}

.sell_container input {
    width: 100%;
    padding: 15px 30px;
    margin: 15px 0;
    border: 1px solid #012f34;
    border-radius: 5px;
}

.sell__inputs textarea {
    width: 100%;
    margin: 15px 0;
}

.sell__inputs label{
    font-size: 15px;
    margin-top: 10px;
    color: #606060;
    margin: 15px  0;
}

.sell__inputs hr{
    width: 100%;
    margin: 15px 0;
}

.sell__inputs h4{
    font-size: 22px;
    margin-bottom: 15px;
}

.sell__inputs .condition button{
    padding: 15px 20px;
    border: 1px solid #000;
    background: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

#btnSubmit{
    padding: 15px 30px;
    background-color: #012f34;
    border: 1px solid #012f34;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.profileName{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profileName input{
    width: 100% !important;
}

.profileName img{
    margin-right: 20px;
}

.input{
    width: 100%;
}